@import "tailwindcss";

@theme {
  --font-tan-pearl: var(--font-tan-pearl);
  --color-primary: #a31621;
  /* Dark Red from images */
  --color-dark: #0a0a0a;
  --color-light: #f5f5f5;
}

/* Custom Utilities for this project */
.font-tan {
  font-family: var(--font-tan-pearl), "Times New Roman", serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}